:root {
  --theme_strong: #f500a2;
  --theme_light: #fcddf1ff;
  --theme_dark: #222222;
  --theme_white: #ffffff;

  --main_gray: #dcdcdc;
  --light_gray: #f4f4f4;
  --bright_red: #f500a2;
  --dodger_blue: #2b78bf;
  --metallic_bronze: #f500a2;
  --black_transparent: rgb(8 8 8 / 50%);
  --ivory: #fbfaea;
  --vis_vis: #f8e399;
  --alabaster: #fafafa;

  --river_styx: #1f2b34;
  --swimmers_pool: #2ecdb4;
  --winter_chime: #83c6e1;
  --cotton_ball: #f3f8fc;
  --plaster: #eaeaea;
  --pale_blue: #c0f0e9;
  --havelock_blue: #438fd5;
  --bunker: #151e24;
  --ebony_clay: #151e24;
}
